# version: "3.8"

services:

  mongodb:
    image: mongo:6
    container_name: mongodb_container
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

  backend:
    build: ./backend
    container_name: backend_container
    restart: always
    ports:
      - "8080:8080"
    environment:
      - DB_HOST=mongodb
      - DB_PORT=27017
      - DB_NAME=testdb
    depends_on:
      - mongodb

  frontend:
    build: ./frontend
    container_name: frontend_container
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  mongodb_data:
