version: "3.8"

services:
  mongo:
    image: mongo:latest
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    image:  lavanyahv/backend
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    environment:
      - MONGO_URL="mongodb://mongodb:27017/testdb"

  frontend:
    image: lavanyahv/frontend
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  mongo-data:
